.productsContainer {
  width: 90%;
  margin: 100px auto 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}
.productsContainer .product {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid darkcyan;
}
.productsContainer .product img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
